html {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;}

:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-color: #757575;}

/*body style*/

body {font-family: 'Roboto', sans-serif; 
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.0 3em;} 

    .list {list-style: none;}
    .link {text-decoration: none;}
    
/* page-header */
   
.page-header 
   {background-color: var(--primary-white-color);
padding: 24px 0 25px;
border-bottom: 1px solid #ECECEC;}

/* container */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    /* outline: 2px solid tomato; */
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section.no-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.section.padding-top {
    padding-top: 94px;
    padding-bottom: 0px;
}
.section.padding-bottom {
    padding-top: 0px;
    padding-bottom: 94px;
}


/*-------------logo--------------*/
    .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: #2196F3;}

    .logo-studio {color: #000000;}
    
    /*site-nav*/

    .site-nav {display: inline-flex;}

    .logo {margin-right: 93px;}
    
    .site-nav .link {
    display: block;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 0.87;
    letter-spacing: 0.02em;}

    .logo-item:not(:last-child) {
        margin-right:30px;}

      
    .site-nav .link:hover {color: var(--accent-color);}
    .site-nav .link:focus {color: var(--accent-color);} 

    .adress-nav .link {color: var(--primary-text-color);
    font-weight: 500;
    line-height: 0.87;
    letter-spacing: 0.02em;}
    
    .adress-nav .link:hover {color: var(--accent-color);}
    .adress-nav .link:focus {color: var(--accent-color);}

    .site-nav .link-current {font-weight: 500;
        color: var(--accent-color); }

    .studio-meil {
    color: var(--secondary-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    text-decoration: none;}


    .adress-nav-icon {fill: currentColor; margin-right: 10px;
        align-items: center; }

    .studio-meil:hover {color: var(--accent-color);}
    .studio-meil:focus {color: var(--accent-color);}

    .adress-nav {display: flex;
        align-items: center;}
    .adress-nav .studio-meil {
    margin-right: 50px;}

    .studio-tel {
    color: var(--secondary-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    text-decoration: none;
    }

    .adress-nav-phone {fill: currentColor; margin-right: 10px;
        align-items: center;}

    .studio-tel:hover {color: var(--accent-color);}
    .studio-tel:focus {color: var(--accent-color);}

    .list  
    {list-style: none;
    padding: 0;
    margin: 0;}
    
  
    .main-nav {display: flex;
    align-items: center;
    justify-content: space-between;
    
}
   
    /*-------------Hero------------------*/

  .hero {
    text-align: center;
    padding: 200px 390px;
    background-color: #2F303A;
    }

    .hero-fone {
    max-width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }


    .hero-title {
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 44px;
        line-height: 1.3;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    color: var(--primary-white-color);}

    .order-services {
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
        min-width: 200px;
        padding: 10px 32px;
        display: inline-block;
        background-color: #2196F3;
        color: var(--primary-white-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.06em;
    text-align: center;
}

    /*Особенности*/

    .section-title {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-text-color);
        }
    
    .peculiarities-list .title 
    {color: var(--primary-text-color);
    margin-top: 0;
    margin-bottom: 0; 
    font-weight: 700;
    line-height: 1.14;}

    .item-peculiarities
     {margin-right: 30px;
    width: 270px;
        height: 120px;
     }

    .item-peculiarities:last-child {margin-right: 0;}

    
    .peculiarities-list 
    {display: flex;}


    

    .name-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color);
    padding-top: 30px;
    
    }
      
    .about-peculiarities {
    margin-top: 0;
    margin-bottom: 0px;

    line-height: 1.71;
    color: var(--secondary-color); }

    
    /* ______________________________________  */

    .pec-icon {
        display: flex;
        justify-content: center;
        
    }

    .pec-item {
        width: 270px;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F5F4FA;
        margin-right: 30px;}

        
    /* Чем мы занимаемся */

    .about-title {padding-bottom: 50px;}
    
   
    .item 
    {width: calc((100% - 60px) / 3);
    margin-right: 30px;}

    .about-item
     {display:flex;
    flex-wrap: wrap;;
     }

    .item:last-child {margin-right: 0;}
  
    /*---------Наша команда---------*/
    
    .section-title {padding-bottom: 50px;}
    
    .team {background-color: #F5F4FA;}
    
    .member-pic {display: block;}

    .products-img {display: block;}

  

    .about-team {background-color: var(--primary-white-color);}

    .team-title
    {font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin: 0;
    padding-top: 30px;
    color: var(--primary-text-color);}

    .team-profession 
    {font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 16px;
    padding-bottom: 16px;}

    .team 
    {display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
}

    .member-team {
    width: 270px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);    
    margin-right: 30px;
    border: 1px solid #ECECEC;
    

    
    }

    .member-team:last-child {margin-right: 0;}

    .section .team {
        margin-bottom: 0;
    }

/* ------------social----------- */

.team-soc-list {
display: flex;
justify-content: center;
padding-bottom: 30px;
}

.team-soc-item {
width: 44px;
height: 44px;
}

.team-soc-item + .team-soc-item {margin-left: 10px;}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #AFB1B8;
}

.team-soc-icon {fill: currentColor;}

.team-soc-link:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}


    /*Футер*/

    
    .footer-item {display: flex;
    flex-direction: row;
align-items: baseline;} 
    
    .footer-nav {background-color:  #2F303A;}

.foot-nav {display: inline-block;}

    
    .footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);}

    .footer-logostudio {color: var(--primary-white-color);}
    
    .post-adress {
    line-height: 0.06;
    font-style: normal;
    color: var(--primary-white-color);}

    .link-footer
    {text-decoration: none;
    font-style: normal;
    line-height: 0.06;
    color: rgba(255, 255, 255, 0.6);}
    .link-footer:hover {color: var(--accent-color);}
    .link-footer:focus {color: var(--accent-color);}

    .footer-logo { 
    padding-top: 60px;
    }
    
    .footer {
   
    padding-top: 20px;
    padding-bottom: 60px;
    margin-bottom: 9px;}
    
    .adress {
        margin-bottom: 9px;
    }

    
    .welcome {
        display: inline-block;
        margin-left: 70px;
        }



    .welcome-title
    {font-size: 14px;    
    line-height: 1.14;    
    margin-top: 0;
    margin-bottom: 0%;
    color: var(--primary-white-color);
padding-bottom: 20px;}

    .welcome-soc-item {
        width: 44px;
        height: 44px;
        }
        
    .welcome-soc-link {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: white;
    }

    .welcome-soc-list {
        display: flex;
        justify-content: center;}

        .welcome-soc-item + .welcome-soc-item {margin-left: 10px;}

        .welcome-soc-icon {fill: currentColor ;}

        .welcome-soc-link:hover {
            background-color: var(--accent-color);
            color: var(--primary-white-color);
        }

       /*button*/

   .btn {
    display: inline-block;
    cursor: pointer;
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 6px 22px;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-width: 1px 0;
    border-style: solid none;
    border-color: transparent;
    border-radius: 4px;
    background: #F5F4FA;
    transition: 0.2s;
    text-align: center;}

    .button-nav {display: flex;
        justify-content: center;
        padding-bottom: 50px;

    
}
.btn-item { font-size: 500;
    }
  
   

    .button-nav .btn-item + .btn-item {margin-left: 8px;}

    .btn.active {background-color: var(--accent-color);}
    
    .btn:hover {background-color: var(--accent-color); color: var(--primary-white-color);}
    .btn:focus {background-color: var(--accent-color); color: var(--primary-white-color);}
    .btn:hover {box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);}

    /* project */

     .about-project 
    {display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding-bottom: 94px;
        
}

.project {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);}

    .products-img {display: block;}

    .project-item {
    margin: 0;
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-color);}


    .products {margin-right: 30px;
    margin-bottom: 30px;
    }


    .products:hover {box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);}
    .products:focus {box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);}

    .products:nth-child(3n) {margin-right: 0;}
    .products:nth-last-child(-n+3) {margin-bottom: 0;}
    /* .products:nth-last-child(-n+3) {padding-bottom: 94px;} */

    .about-products
    {padding: 20px 24px; 
    border: 1px solid #ECECEC;}
    
    .project {padding: 0;}
    .products-img {display: block;}

    /* -- Постоянные клиенты -- */



    .customers-list {
        display: flex;
        justify-content: center;
    }

    .customers-item {
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;}

    .customers-item + .customers-item {margin-left: 30px;}

    .customers-link {
        width: 100%;
        height: 100%;
        background-color: var(--primary-white-color);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #AFB1B8;}

    .customers-icon {fill: currentColor;}
        
    .customers-link:hover {
        background-color: var(--accent-color);
        color: var(--primary-white-color);}

  
